.cabecera {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}

@media screen and (min-width:0) {
    .cabecera {
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .cabecera {
        padding: 0 5rem;
        justify-content: space-between;
    }
}